<html>
    <head>
    <div class="content-width">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Browse</title>
    </head>
    <body>
        <header>
            <div>
                <h1>Browse Books</h1>
                <nav>
                    <a href="/">Home</a>
                </nav>
            </div>
        </header>
        <main>
            <section>
                <p>&nbsp;</p>
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books["items"] %}
                            <tr>
                                <td>{{book.volumeInfo.title}}</td>
                                <td>{{book.volumeInfo.authors.0}}</td>
                                <td><a href="purchase/{{book.volumeInfo.industryIdentifiers.0.identifier}}" class="btn btn-default">Purchase</a></td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </section>
        </main>
    </body>
</html>