<html>
    <head>
    <div class="content-width">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Browse</title>
    <script>
        function confirmRedirect() {
            if (confirm("You will be redirected to Amazon.com, is this ok?")) {
                return True;
            } else {
                return False;
            }
            }
    </script>
    </head>
    <body>
        <header>
            <div>
                <h1>Browse Books</h1>
                <nav>
                    <a href="/">Home</a>
                </nav>
            </div>
        </header>
        <main>
            <form method="post">
                <fieldset>
                    <legend>Search here!</legend>
                    <input autofocus placeholder="Enter Book Title Here" id="query" name="query" type="text"/>
                    <br><button type="submit">Submit Search</button>
                </fieldset>
            </form>
            <section>
                <p>&nbsp;</p>
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books["items"] %}
                            <tr>
                                <td>{{book.volumeInfo.title}}</td>
                                {% if book.volumeInfo.authors %}
                                    <td>{{book.volumeInfo.authors.0}}</td>
                                {% else %}
                                    <td>No Listed Author</td>
                                {% endif %}
                                {% if book.volumeInfo.industryIdentifiers %}
                                    <td><a href="purchase/{{book.volumeInfo.industryIdentifiers[0].identifier}}" class="btn btn-default" onclick="return confirmRedirect()">Purchase</a></td>
                                {% endif %}
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </section>
        </main>
    </body>
</html>