<html>
    <head>
    <div class="content-width">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    </head>
    <body>
        <h1>Login to your Account!</h1>
        <form action="#" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" />
            <label for="password">Password:</label>
            <input type="password" name="password" />
            <button type="submit">Login</button>
        </form>
        <a href="/">Cancel</a>
    </body>
</html>