<html>
    <head>
    <div class="content-width">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register</title>
    </head>
    <body>
        <h1>Register an Account!</h1>
        <form id="register" action="#" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" />
            <label for="password">Password:</label>
            <input type="password" name="password" />
            <button type="submit">Register</button>
        </form>
        <a href="/home">Cancel</a>
    </body>
</html>